#{extends 'main.html' /}
#{set title:'Menu' /}

#{if utilisateur.can("HomeController", "create")}
<div class="home_btn_admin">
    <div class="home_col_left">
        <a href="@{CivilController.index}">Civils</a>
        <a href="@{OrganisationController.index}">Organisation</a>
        <a href="@{SuperHeroController.index}">Super héros</a>
    </div>
    <div class="home_col_right">
        <a href="@{VilainController.index}">Super vilains</a>
        <a href="@{IncidentController.index}">Incidents</a>
        <a href="">Missions</a>
    </div>

</div>
#{/if}
#{else}
<div class="home_btn_incident">
    <h2>Bienvenue  ${utilisateur.civil.nom}</h2>
    <a href="@{IncidentController.declaration()}" >Signaler un incident</a>
</div>
#{/else}
