#{extends 'main.html' /}
#{set title:'Menu' /}

#{if flash.success}
<p class="success">
${messages.get(flash.success)}
</p>
#{/if}
#{if utilisateur.role.libelle.equals("admin")}
<div class="home_btn_admin">
    <div class="home_col_left">
        <a href="@{CivilController.index}">Civils</a>
        <a href="@{OrganisationController.index}">Organisation</a>
        <a href="@{SuperHeroController.index}">Super héros</a>
        <a href="@{VilainController.index}">Super vilains</a>
    </div>
    <div class="home_col_right">
        <a href="@{IncidentController.index}">Incidents</a>
        <a href="@{MissionController.index}">Missions</a>
        <a href="@{RapportController.index}">Rapports</a>
    </div>
</div>
#{/if}
#{elseif utilisateur.role.libelle.equals("hero")}
<div class="home_btn_hero">
    <div class="home_col_left">
        <a href="@{IncidentController.declaration()}" >Signaler un incident</a>
    </div>
    <div class="home_col_right">
        <a href="@{MissionController.index}" >Vos missions</a>
        <a href="@{RapportController.index}" >Vos rapport</a>
    </div>
</div>
#{/elseif}
#{else}
<div class="home_btn_incident">
    <h2>Bienvenue  ${utilisateur.civil.nom}</h2>
    <a href="@{IncidentController.declaration()}" >Signaler un incident</a>
</div>
#{/else}
