#{extends 'main.html' /}
#{set title:'Rapport' /}


<h2 class="titre_partie">Liste des rapports</h2>
<div class="wrappe_tableau">
    <table class="tableau">
        <thead>
        <tr>
            <th>Type de délit</th>
            <th>Titre mission</th>
            <th>Affectation</th>
            <th>Interlocuteur</th>
            <th>Résultat</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        #{list rapports, as:'rapport'}
        <tr>
            <td>${rapport.mission.incident.typeDelit.libelle}</td>
            <td>${rapport.mission.titre}</td>
            <td>${rapport.affectation.nom}</td>
            <td>${rapport.mission.incident.civil.nom}</td>
            <td>${rapport.resultat}</td>
            <td class="table_cel_action">
                <a class="table_btn_modifier" href="@{RapportController.update(rapport.id)}">Modifier</a>
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>
