#{extends 'main.html' /}
#{set title:'Rapport' /}


<h2 class="titre_partie">Liste des rapports</h2>
<div class="wrappe_tableau">
    <table class="tableau">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table_cel_action">
                <a class="table_btn_modifier" href="">Modifier</a> <a
                    class="table_btn_supprimer" href="">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>