
.main_header h1 {
    margin: 0.5em auto 0.5em auto;
    text-align: center;
}

.hr_vertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 80vh;
    width: 1px;
    margin: 5px;
}

.margin-top {
    margin-top: 50px;
}

.main_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.nav_bloc_gauche {
    display: flex;
}

.nav_bloc_gauche a:first-child {
    margin-right: 50px;
}

.btn_bleu {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: dodgerblue;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid dodgerblue;
}

.btn_bleu:hover {
    background-color: white;
    color: dodgerblue;
}

.titre_partie {
    text-align: center;
}

.erreur_input {
    border: 2px solid red;

}

/**********TABLE***************/
.wrappe_tableau {
    max-width: 90%;
    margin: auto;
}

.wrappe_tableau > a {
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 0.5em;
    float: right;
}

.tableau {
    width: 100%;
    border-collapse: collapse;
}

.tableau th, .tableau td {
    padding: 1em;
    text-align: left;
}

.tableau th {
    background-color: dodgerblue;
    color: white;
}

.tableau tbody td {
    border-bottom: 1px solid #ddd;
}

.tableau tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableau tbody tr:hover {
    background-color: rgba(207, 212, 255, 0.82);
}

.tableau .table_cel_action {
    display: flex;
}

.tableau .table_btn_modifier, .tableau .table_btn_supprimer {
    padding: 1em;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}

.tableau .table_btn_modifier {
    background-color: orange;
    border: 1px solid orange;
    margin-right: 1em;
}

.tableau .table_btn_supprimer {
    background-color: red;
    border: 1px solid red;
}

.tableau .table_btn_modifier:hover {
    color: orange;
    background-color: white;
    cursor: pointer;
}

.tableau .table_btn_supprimer:hover {
    color: red;
    background-color: white;
    cursor: pointer;
}

/***************HOME*****************/
.home_btn_incident {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}
.home_btn_hero{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
}
.home_btn_hero .home_col_right a:first-child{
    margin-bottom: 40px;
}
.home_btn_incident a ,.home_btn_hero a{
    text-decoration: none;
    color: #a80202;
    border: solid 2px #a80202;
    font-size: 36px;
    padding: 50px;
    border-radius: 10px;
}
.home_btn_incident a:hover,.home_btn_hero a:hover {
    color: white;
    background-color: #a80202;
}

.home_btn_admin {
    display: flex;
    min-width: 500px;
    max-width: 50%;
    margin: auto;
    justify-content: space-around;
}

.home_col_left, .home_col_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home_btn_admin a {
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    text-align: center;
    color: #a80202;
    border: solid 2px #a80202;
    border-radius: 10px;
}

.home_btn_admin a:hover {
    color: white;
    background-color: #a80202;
}


/***************FORM*****************/
.crudform {
    margin: 50px auto 0 auto;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(234, 228, 228, 0.64);
    border: 20px solid #dadada;
    border-radius: 20px;
}

.crudform > div > div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.crudform > div > span {
    display: block;
    padding: 0.5em;
    text-align: center;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    margin-top: 10px;
}

.crudform input[type=submit] {
    margin-top: 30px;
    background: #34c802;
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 10px;
    border: 1px solid #34c802;
}

.crudform input[type=submit]:hover {
    background-color: white;
    color: #34c802;
}
