#{extends 'main.html' /}
#{set title:'Vilains' /}

<h2>Index Vilain</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Identite?</th>
            <th>Degre malveillance</th>
            <th>Nombre mefaits</th>
            <th>Pouvoir(s)</th>
            <th>Faiblesse(s)</th>
            <th>Commentaire</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
	#{list vilains, as:'vilain'}
		<tr>
		    <td>${vilain.nom}</td>
		    <td>${vilain.civil.prenom} ${vilain.civil.nom}</td>
		    <td>x%</td>
		    <td>x</td>
		    <td>
		    #{list vilains.avantage, as:'av'}
		    ${av.libelle};
		    #{/list}
		    </td>
		    <td>
		    #{list vilains.desavantage, as:'de'}
		    ${de.libelle};
		    #{/list}
		    </td>
		    <td>${vilain.commentaire}</td>
		    <td>
				<a href="@{VilainController.updateVilain(vilain.id)}">Modifier</a> | <a href="@{VilainController.deleteVilain(vilain.id)}">Supprimer</a>
			</td>
		</tr>
	#{/list}
    </tbody>
</table>
<a href="@{VilainController.newVilain()}">Ajouter vilain</a>