#{extends 'main.html' /}
#{set title:'Vilains' /}

<h2 class="titre_partie">Index Vilain</h2>
<div class="wrappe_tableau">
	<a class="btn_bleu" href="@{VilainController.create()}">Ajouter vilain</a>
	<table class="tableau">
		<thead>
		<tr>
			<th>Nom</th>
			<th>Identité</th>
			<th>Degré malveillance</th>
			<th>Nombre méfaits</th>
			<th>Pouvoir(s)</th>
			<th>Faiblesse(s)</th>
			<th>Commentaire</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		#{list vilains, as:'vilain'}
		<tr>
			<td>${vilain.nom}</td>
			<td>#{if vilain.civil != null} ${vilain.civil.prenom} ${vilain.civil.nom} #{/if}</td>
			<td>x%</td>
			<td>x</td>
			<td>
				<ul>
					#{list vilain.avantages, as:'av'}
						<li>${av.libelle}</li>
					#{/list}
				</ul>
			</td>
			<td>
				<ul>
					#{list vilain.desavantages, as:'de'}
						<li>${de.libelle}</li>
					#{/list}
				</ul>
			</td>
			<td>${vilain.commentaire}</td>
			<td class="table_cel_action">
				<a href="@{VilainController.update(vilain.id)}">Modifier</a> | <a href="@{VilainController.delete(vilain.id)}">Supprimer</a>
			</td>
		</tr>
		#{/list}
		</tbody>
	</table>
</div>

