#{extends 'main.html' /}
#{set title:'Vilains' /}

<h2>Index Vilain</h2>
<table>
    <thead>
        <tr>
            <th>PleuPleu</th>
            <th>Date Naissance</th>
            <th>Date Deces</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
	#{list civils, as:'civil'}
		<tr>
		    <td>${civil.prenom} ${civil.nom}</td>
		    <td>${civil.dateNaissance}</td>
		    <td>${civil.dateDeces}</td>
		    <td>
				<a href="@{CivilController.updateCivil(civil.id)}">Modifier</a>
			</td>
		    <td>
				<a href="@{CivilController.deleteCivil(civil.id)}">Supprimer</a>
			</td>
		</tr>
	#{/list}
    </tbody>
</table>
<a href="@{CivilController.newCivil()}">Ajouter civil</a>