#{extends 'main.html' /}
#{set title:'SuperHeros' /}

<h2>Ajouter un SuperHero</h2>
<form action="@{SuperHeroController.postCreate()}" method="post">

	<p>
		<label for="nom">Nom</label>
	    <input type="text" name="superhero.nom" id="nom" value="${flash.get('superhero.nom')}" maxLength=100 />
	    <span>#{error 'superhero.nom'/}</span>
	</p>
    
    <p>
	    <label for="civil">Identité</label>
		<select name="civil" id="civil">
	    #{list civils, as:'civil'}
	        <option value="${civil.id}" ${String.valueOf(civil.id) == flash.get("civil") ? "selected" : ""}>${civil.prenom} ${civil.nom}</option>
	    #{/list}
	    </select>
	    <span>#{error 'civil'/}</span>
    </p>
    
    <p>
		<label for="commentaire">Commentaire</label>
		<textarea name="superhero.commentaire" id="commentaire" rows="5" cols="33">${flash.get('superhero.commentaire')}</textarea>
	    <span>#{error 'superhero.commentaire'/}</span>
    </p>
    
    <p>
	    <label for="avantages">Avantages</label>
		<select name="avantages[]" id="avantages" multiple>
	    #{list avantages, as:'avantage'}
	        <option value="${avantage.id}" #{if flash.contains("avantages[]")}
        		${flash.get("avantages[]").contains(String.valueOf(avantage.id)) ? "selected" : ""}
        	#{/if}>${avantage.libelle}</option>
	    #{/list}
	    </select>
	    <span>#{error 'avantages[]'/}</span>
    </p>

    <p>
	    <label for="desavantages">Désavantages</label>
		<select name="desavantages[]" id="desavantages" multiple>
	    #{list desavantages, as:'desavantage'}
	        <option value="${desavantage.id}" #{if flash.contains("desavantages[]")}
        		${flash.get("desavantages[]").contains(String.valueOf(desavantage.id)) ? "selected" : ""}
        	#{/if}>${desavantage.libelle}</option>
	    #{/list}
	    </select>
	    <span>#{error 'desavantages[]'/}</span>
    </p>
    

    <input type="submit" value="Save">
	<a href="@{SuperHeroController.index()}">Retour</a>
</form>