#{extends 'main.html' /}
#{set title:'Civils' /}

<h2>Index Civil</h2>
<table>
    <thead>
        <tr>
            <th>Identite</th>
            <th>Date Naissance</th>
            <th>Date Deces</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
	#{list civils, as:'civil'}
		<tr>
		    <td>${civil.prenom} ${civil.nom}</td>
		    <td>${civil.dateNaissance}</td>
		    <td>${civil.dateDeces}</td>
		    <td>
				<a href="@{CivilController.update(civil.id)}">Modifier</a> | <a href="@{CivilController.delete(civil.id)}">Supprimer</a>
			</td>
		</tr>
	#{/list}
    </tbody>
</table>
<a href="@{CivilController.create()}">Ajouter civil</a>