#{extends 'main.html' /}
#{set title:'Ajouter Civil' /}

<h2>Add Civil</h2>

<form action="@{CivilController.addNewCivil()}" method="post">

	<label for="civil.nom">Nom</label>
    <input type="text" name="civil.nom" value="${flash.get('civil.nom')}" maxLength=100 />
    <span>#{error 'civil.nom'/}</span>

    <br/>
    
	<label for="civil.prenom">Prenom</label>
    <input type="text" name="civil.prenom" value="${flash.get('civil.prenom')}" maxLength=100 />
    <span>#{error 'civil.prenom'/}</span>

    <br/>
    
	<label for="civil.adresse">Adresse</label>
    <textarea name="civil.adresse">${flash.get('civil.adresse')}</textarea>
    <span>#{error 'civil.adresse'/}</span>

    <br/>
    
	<label for="civil.tel">Telephone</label>
    <input type="text" name="civil.tel" value="${flash.get('civil.tel')}" maxLength=20 />
    <span>#{error 'civil.tel'/}</span>

    <br/>
    
	<label for="civil.dateNaissance">Date Naissance</label>
	<input type="date" name="civil.dateNaissance" value='${flash.get("civil.dateNaissance")?.format("yyyy-MM-dd")}'/>
    <span>#{error 'civil.dateNaissance'/}</span>

    <br/>
    
	<label for="paysResidence">Pays Residence</label>
	<select name="paysResidence">
    #{list pays, as:'pay'}
        <option value="${pay.id}" #{if flash.contains("paysResidence")}${""+pay.id == flash.get("paysResidence") ? "selected" : ""}#{/if}>${pay.libelle}</option>
    #{/list}
    </select>
    <span>#{error 'paysResidence'/}</span>
    
    <br/>
    
	<label for="paysNatal">Pays Natal</label>
	<select name="paysNatal">
    #{list pays, as:'pay'}
        <option value="${pay.id}" #{if flash.contains("paysNatal")}${""+pay.id == flash.get("paysNatal") ? "selected" : ""}#{/if}>${pay.libelle}</option>
    #{/list}
    </select>
    <span>#{error 'paysNatal'/}</span>
    
    <br/>
    
	<label for="civilite">Civilite</label>
	<select name="civilite">
    #{list civilites, as:'civilite'}
        <option value="${civilite.id}" #{if flash.contains("civilite")}${""+civilite.id == flash.get("civilite") ? "selected" : ""}#{/if}>${civilite.libelle}</option>
    #{/list}
    </select>
    <span>#{error 'civilite'/}</span>
    
    <br/>
    
    <input type="submit" value="Save">
	<a href="@{CivilController.index()}">Retour</a>
</form>