#{extends 'main.html' /}
#{set title:'Modifier Civil' /}

<h2>Update Civil</h2>
<form action="@{CivilController.saveUpdateCivil()}" method="post">

	<input type="hidden" name="civil.id" value="${flash.contains('id') ? flash.get('civil.id') : civil.id}" />

	<label for="civil.nom">Nom</label>
    <input type="text" name="civil.nom" value="${flash.contains('civil.nom') ? flash.get('civil.nom') : civil.nom}" maxLength=100 />
    <span>#{error 'civil.nom'/}</span>

    <br/>
    
	<label for="civil.prenom">Prenom</label>
    <input type="text" name="civil.prenom" value="${flash.contains('civil.prenom') ? flash.get('civil.prenom') : civil.prenom}" maxLength=100 />
    <span>#{error 'civil.prenom'/}</span>

    <br/>
    
	<label for="civil.adresse">Adresse</label>
    <textarea name="civil.adresse">${flash.contains('civil.adresse') ? flash.get('civil.adresse') : civil.adresse}</textarea>
    <span>#{error 'civil.adresse'/}</span>

    <br/>
    
	<label for="civil.tel">Telephone</label>
    <input type="text" name="civil.tel" value="${flash.contains('civil.tel') ? flash.get('civil.tel') : civil.tel}" maxLength=20 />
    <span>#{error 'civil.tel'/}</span>

    <br/>
    
	<label for="civil.dateNaissance">Date Naissance</label>
	<input type="date" name="civil.dateNaissance" value='${flash.contains("civil.dateNaissance") ? flash.get("civil.dateNaissance")?.format("yyyy-MM-dd") : civil.dateNaissance?.format("yyyy-MM-dd")}' />
    <span>#{error 'civil.dateNaissance'/}</span>

    <br/>
    
	<label for="civil.dateDeces">Date Deces</label>
	<input type="date" name="civil.dateDeces" value='${flash.contains("civil.dateDeces") ? flash.get("civil.dateDeces")?.format("yyyy-MM-dd") : civil.dateDeces?.format("yyyy-MM-dd")}' />
    <span>#{error 'civil.dateDeces'/}</span>

    <br/>
    
	<label for="civil.commentaire">Commentaire</label>
    <textarea name="civil.commentaire">${flash.contains('civil.commentaire') ? flash.get('civil.commentaire') : civil.commentaire}</textarea>
    <span>#{error 'civil.commentaire'/}</span>

    <br/>
    
	<label for="paysResidence">Pays Residence</label>
	<select name="paysResidence">
    #{list pays, as:'pay'}
        <option value="${pay.id}" #{if pay.id == civil.paysResidence.id} selected #{/if}>${pay.libelle}</option>
    #{/list}
    </select>
    <span>#{error 'paysResidence'/}</span>
    
    <br/>
    
	<label for="paysNatal">Pays Natal</label>
	<select name="paysNatal">
    #{list pays, as:'pay'}
        <option value="${pay.id}" #{if pay.id == civil.paysNatal.id} selected #{/if}>${pay.libelle}</option>
    #{/list}
    </select>
    <span>#{error 'paysNatal'/}</span>
    
    <br/>
    
	<label for="civilite">Civilite</label>
	<select name="civilite">
    #{list civilites, as:'civilite'}
        <option value="${civilite.id}" #{if civilite.id == civil.civilite.id} selected #{/if}>${civilite .libelle}</option>
    #{/list}
    </select>
    <span>#{error 'civilite'/}</span>
    
    <br/>
    
    <input type="submit" value="Modifier">
	<a href="@{CivilController.index()}">Retour</a>
</form>