#{extends 'main.html' /}
#{set title:'Organisations' /}

<h2>Index Organisations</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Siège social</th>
            <th>Dirigeant</th>
            <th>Nbre d'incidents</th>
            <th>Nbre de missions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
	#{list orgas, as:'orga'}
		<tr>
		    <td>${orga.nom}</td>
        <td>${orga.pays.libelle}</td>
        <td>${orga.dirigeant.nom}</td>
        <td>${orga.getIncidentNumber()}</td>
        <td>${orga.getMissionNumber()}</td>
        <td><a href="/orga/to_update/${orga.id}">UPDATE</a> <a href="/orga/delete?orga=${orga.id}">DELETE</a></td>
		</tr>
	#{/list}
    </tbody>
</table>


<p class="margin-top">Créer une organisation : </p>
<form action="@{OrganisationController.addOrga()}" method="post">
  <input type="text" name="organisation.nom" value="${flash.get('organisation.nom')}" placeholder="Nom de l'organisation"><br>
  <input type="text" name="organisation.adresse" value="${flash.get('organisation.adresse')}" placeholder="Adresse"><br>
  Pays : <select name="pays">
    #{list pays, as:'pay'}
      <option value="${pay.id}">${pay.libelle}</option>
    #{/list}
  </select><br>
  Dirigeant : <select name="chef">
    #{list civils, as:'civil'}
      <option value="${civil.id}">${civil.nom} ${civil.prenom}</option>
    #{/list}
  </select><br>
  Membres : <select multiple name="membres">
    #{list civils, as:'civil'}
      <option value="${civil.id}">${civil.nom} ${civil.prenom}</option>
    #{/list}
  </select><br>
  <input type="submit" value="Créer">
</form>

#{list errors, as:'error'}
  ${error}
#{/list}
