#{extends 'main.html' /}
#{set title:'Organisations' /}

<h2>Index Organisations</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Siege social</th>
            <th>Dirigeant</th>
            <th>Date d'ajout</th>
            <th>Nbre d'incidents</th>
            <th>Nbre de missions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
	#{list orgas, as:'orga'}
		<tr>
		    <td>${orga.nom}</td>
        <td>${orga.pays.libelle}</td>
        <td>${orga.dirigeant.nom}</td>
        <td>${orga.dateAjout}</td>
        <td>${orga.getIncidentNumber()}</td>
        <td>${orga.getMissionNumber()}</td>
        <td><a href="/orga/to_update/${orga.id}">MAJ</a> <a href="/orga/delete?orga=${orga.id}">SUPPR.</a></td>
		</tr>
	#{/list}
    </tbody>
</table>


<p class="margin-top">Creer une organisation : </p>

${form.raw()}
