<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/normalize.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/login.css'}">
#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>
<body>
<header class="main_header">
    <img class="icone_page" src="@{'/public/images/icone4.jpg'}" alt="">
</header>
<main>
    <nav class="nav">
        <a href="">Partie admin</a>
        <div class="nav_bloc_gauche">
            <a href="">Mon Compte</a>
            <a href="@{Registration.logout}">Déconnexion</a>
        </div>
    </nav>
#{doLayout /}
</main>

<footer>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
#{get 'moreScripts' /}
</body>
</html>
