<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/normalize.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/login.css'}">
#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>
<body>
<header class="main_header">
    <a href="@{HomeController.index}">
        <img class="icone_page" src="@{'/public/images/icone4.jpg'}" alt="">
    </a>

</header>
<main>
#{if controllers.AuthController.isConnected()}
    <nav class="nav">
        <div class="nav_bloc_gauche">
            <a class="btn_bleu" href="">Mon Compte</a>
            <a class="btn_bleu" href="@{AuthController.logout}">Déconnexion</a>
        </div>
    </nav>
#{/if}

#{doLayout /}
</main>

<footer>

</footer>
#{get 'moreScripts' /}
</body>
</html>
